<!DOCTYPE html>

{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <h1>Agregar Usuario</h1>
            <form action="/add_usuario" method="POST">
                <div class="form-group">
                    <input type="text" name="Tipo" placeholder="Tipo"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="Apellido" placeholder="Apellido"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="Correo" placeholder="Correo"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name="Usuario" placeholder="Usuario"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>


    </div>
    <div class="col-md-7">
        <table class="table table-stripped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Correo</td>
                    <td>Usuario</td>
                    <td>Tipo</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td> {{usuario.1}}</td>
                    <td> {{usuario.2}}</td>
                    <td> {{usuario.3}}</td>
                    <td> {{usuario.4}}</td>
                    <td> {{usuario.6}}</td>
                    <td>
                        <a href="/edit/{{ usuario.0 }}" class="btn btn-secondary">Editar</a>
                        <a href="/delete/{{ usuario.0 }}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>
</div>
{% endblock %}